//Main Variables
$body-bg : #fbfcfd;


// Header Variables
$header-background: #212731;
$header-text-color: #d1d6da;
$heading-text-color: #2c384a;

// Footer Variables
$footer-background: #212731;
$footer-text-color: #d1d6da;

//Recomendations
$btn-color: #074786;
$btn-bg: #f2f4f7;
$text: #626e79;
$off_amt: #5c6874;
$org_amt: #9fa9b3;
$off: #ef4c5d;
$btn-bg-color: #1b88f4;

//Header Bar
$bar-text-color : #4B5665;
$bar-border : #E1E4E6;

//Card Variables
$card-bg : #F3F9FF;
$pref-bg: #FF7724;